spring: 
    profiles: 
        active: 
            dev
---
spring: 
    profiles: dev
    application: 
        name: configdev
---
spring: 
    profiles: test
    application: 
        name: configtest